#canvas-container {
  width: min(90%, 83vh);
  /* max-width: 50vh; */
  padding-bottom: min(90%, 83vh);
  border: 4pt solid rgb(22, 22, 22);
  position: relative;
  height: 0;
  border-radius: 3%;
  background-color: rgb(134, 134, 134);
}

#game-canvas {
  height: 99%;
  width: 99%;
  position: absolute;
  left: .5%;
  right: .5%;
  top: .5%;
  bottom: .5%;
}

#canvas-dummy {
  padding-top: 100%;
}