#canvas-container {
  width: min(91%, 83vh);
  /* max-width: 50vh; */
  padding-bottom: min(91%, 85vh);
  border:5pt solid rgb(1, 49, 1);
  position: relative;
  height: 0;
  border-radius: 2%;
  background-color: black;
}

.canvas {
  background-color: rgb(134, 134, 134);
  height: 99%;
  width: 99%;
  position: absolute;
  left: .5%;
  right: .5%;
  top: .5%;
  bottom: .5%;
}

#game-canvas {
}

#grid-canvas {
  background-color: transparent;
}

#canvas-dummy {
  padding-top: 100%;
}