#save-panel p{
  margin:0 0 .5em;
  font-size: smaller;
}

.save-panel-title{
margin: 0 0 1em;
}

#saves-selector {
  overflow-y: scroll;
  margin: 1em 0;
}

.save-p {
  font-size: smaller;
  margin: 0;
}

.save-box {
  background-color: rgb(192, 192, 169);
border: 2pt solid black;
padding: .2em;
margin-bottom: 1em;
}

