.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1c2842;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.app-body {
  height: 90vh;
  display: flex;
  background-color: rgb(146, 146, 128);
}

.nav-button {
  white-space: nowrap;
  color: black;
  padding: .5em;
  border: 2pt solid black;
  margin: 2pt;
  text-decoration: none;
  background: rgb(141, 139, 139);
}

.nav-button:hover {
  background: rgb(114, 113, 113);
}

.selected-nav{
  background: rgb(58, 58, 58);
  color: ivory;
}
.selected-nav:hover {
  background: rgb(58, 58, 58) !important;
} 

#left-column {
width: 27.5%;
min-width: 250px;
}

#center-column {
  width: 45%;
  min-width: 500px;
  background-color: rgb(126, 126, 110);
}

#right-column {
  width: 27.5%;
  min-width: 250px;
}

.control-panel{
  width: 80%;
  min-width: 220px;
  max-height: 80%;
  border: 3pt solid black;
  padding: 1em ;
  background-color:rgb(160, 158, 158);
  /* color: white; */
}

/* .panel-nav {
  position: absolute;
  top: 0;
  margin-top: 2em;
} */

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#speed-control {
  padding: .5em 1em;
  margin: 1em;
}

#speed-control p{
  margin: 0 1em;
}

#speed-control h5{
  margin: 0.1em 1em;
  padding-bottom: .2em;
}

.speed-button {
  border: 1pt solid black;
  margin: 2px;
  background-color: ivory;
  padding: 0 .25em;
  user-select: none;
}

.active-speed {
  color: ivory;
  background-color: rgb(112, 112, 82) !important;
}


.instructions p {
  font-size: small;
  margin: 0 0 1em;
}

.instructions span {
  font-weight: 700;
}

.panel-title {
  font-size: larger;
  margin: 0 0 .5em;
}

#key-control-instructions p {
  margin-bottom: 0;
}

.col-div {
  display: flex;
}

.col-body {
  height: 85%;
  flex-direction: column;
}

.col-nav {
  height: 15%;
}

#game-instructions p {
  font-size: 9.5pt ;
  text-align: justify;
}